* {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  /* font-optical-sizing: auto; */
  font-style: normal;
}

.flex {
  display: flex;
}

.inline {
  display: inline;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 16px 12px;
  color: white;
  background: #469165;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

ul,
a {
  list-style: none;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

#header {
  max-width: 1341px;
  margin: 16px auto 0 auto;
  height: auto;
}

#header .logo img {
  max-width: 139px;
  max-height: 60px;
}

#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .menu {
  display: flex;
  gap: 32px;
}

#banner {
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  min-height: 674px;
  color: white;
  margin-top: 24px;
}

#banner .banner-content {
  text-align: center;
}

#banner .icon-text {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  margin-top: 125px;
  margin-bottom: 16px;
  background-color: transparent;
  background: white;
  color: black;
  border-radius: 50px;
  padding: 12px 8px;
  border: 1px solid #30b868;
}

.icon-text .icon {
  width: 12px;
  height: 12px;
}

#banner h1 {
  font-size: 70px;
  line-height: 1.2;
}

#banner h1 span {
  color: #30b868;
}

.text p {
  max-width: 1360px;
  line-height: 24px;
  font-size: 16px;
}

.btn2 {
  margin-top: 24px;
  border: solid 1px white;
  padding: 16px 12px;
  background: transparent;
  color: white;
  border-radius: 4px;
  margin-left: 5px;
}

#notes {
  max-width: 1360px;
  margin: 0 auto;
  text-align: center;  
}

#notes .notes-heading h2{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    margin-top: 35px;
}

#notes .notes-heading p{
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    color: #627382;
}

#notes .card-container{
    display: flex;
    gap: 16px;
    margin-top: 30px;
}

#notes .card-container .card {
    max-width: 322px;
    max-height: 300px;
    padding: 24px 24px;
    border-radius: 8px;
    box-shadow:-1px 0 1px rgba(0,0,0,0.01),
       1px 0 0px rgba(0,0,0,0.1),
       0 -1px 3px rgba(0,0,0,0.1);
}

#notes .card-container .card .img {
    background: #F95555;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
}

#notes .card-container .card h4{
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}

#notes .card-container .card p{
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
    color: #627382;
}