* {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  /* font-optical-sizing: auto; */
  font-style: normal;
}

.flex {
  display: flex;
}

.inline {
  display: inline;
}

.text-center {
  text-align: center;
}

.btn {
  padding: 16px 12px;
  color: white;
  background: #469165;
  border-radius: 4px;
  border: none;
  font-size: 16px;
  font-weight: 600;
}

ul,
a {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

#header {
  max-width: 1341px;
  margin: 16px auto 0 auto;
  height: auto;
}

#header .logo img {
  max-width: 139px;
  max-height: 60px;
}

#header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .menu {
  display: flex;
  gap: 32px;
}

#banner {
  background-image: url(assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  min-height: 674px;
  color: white;
  margin-top: 24px;
}

#banner .banner-content {
  text-align: center;
}

#banner .icon-text {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  margin-top: 125px;
  margin-bottom: 16px;
  background-color: transparent;
  background: white;
  color: black;
  border-radius: 50px;
  padding: 12px 8px;
  border: 1px solid #30b868;
}

.icon-text .icon {
  width: 12px;
  height: 12px;
}

#banner h1 {
  font-size: 70px;
  line-height: 1.2;
}

#banner h1 span {
  color: #30b868;
}

.text p {
    max-width: 1360px;
  line-height: 24px;
  font-size: 16px;
 
}


.btn2 {
     margin-top: 24px;
  border: solid 1px white;
  padding: 16px 12px;
  background: transparent;
  color: white;
  border-radius: 4px;
  margin-left: 5px;
}
